@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.header {
    background-color: #2E4CFF;
    padding-top: 120px;
    padding-bottom: 175px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1223px;
    margin: 0 auto
}

.header__logo {
    width: 56px;
    height: 56px;
}

.header__nav {
    display: flex;
    gap: 50px;
}

.header__nav-item {
    text-decoration:none;
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.header__button {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 15px 30px;
    border: none;
    color: #2f6ee2;
    cursor: pointer;
}

.header__button--outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


.header__main {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding-top: 55px;
    max-width: 1223px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    display: flex;
    justify-content: flex-end;
}

.header__hero-image {
    width: 100%;
    max-width: 515px;
}

.header__heading {
    padding-bottom: 50px;
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}

.header__paragraph {
    padding-bottom: 65px;
    color:white;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.header__buttons {
    display: flex;
    gap: 40px;
}


.classes {
    padding: 140px 0;
}

.classes__container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1223px;
    margin: 0 auto;
}

.classes__image-photo {
    width: 100%;
    max-width: 600px;
}

.classes__content {
    padding-left: 125px;
    padding-top: 110px;
}

.classes__header {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: black;
    padding-bottom: 135px;
}

.classes__class-box-container {
    display: grid;
    column-gap: 40px;
    row-gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.classes__class-box {
    background-color: #2E4CFF;
    border-radius: 30px;
    width: 220px;
    height: 220px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    border: none;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

.classes__class-box--inverted {
    background-color: white;
    color: #2E4CFF;
}

.classes__class-box--low {
    position: relative;
    top: 50%;
}

.classes__class-box--shifted {
    position: relative;
    left: 20px;
}

.gallery {
    padding-bottom: 140px;
}

.gallery__container {
    max-width: 1223px;
    margin: 0 auto;
}

.gallery__header {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: black;
    padding-bottom: 135px;
    text-align: center
}

.gallery__image-wrapper {
    display: grid;
    grid-template-columns: 475px 350px 350px;
    gap: 24px;
}

.gallery__image-container {
    position: relative;
    cursor: pointer;
}

.gallery__image-container:first-child {
    grid-row: span 2;
}

.gallery__image-container:hover .gallery__image-overlay {
    opacity: 1;
}

.gallery__image {
    width: 100%;
}


.gallery__image-overlay {
    background-color: rgba(196, 196, 196, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__image-overlay-image-wrapper {
    background-color: rgba(46, 76, 255, 1);
    padding: 15px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.gallery__image-overlay-image {
    width: 20px;
    height: 20px;
}

.team {
    padding-bottom: 140px;
}

.team__container {
    max-width: 1223px;
    margin: 0 auto;
}

.team__header {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: black;
    padding-bottom: 135px;
    text-align: center
}

.team__container-social {
   display: grid;
   grid-template-columns: 285px 285px 285px 285px;
   gap: 24px;
}

.team__container-social-person {
    background-color: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
    padding: 35px 15px;
}

.team__container-social-avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}

.team__social-name {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.team__social-position {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C4C4C4;
}

.team__social-icon-wrapper {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.team__social-icon-anchor {
    text-decoration: none;
}

.team__social-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}