@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

/* button component */

.button {
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    background-color: #2f6ee2;
    cursor: pointer;
 }

 .button--secondary {
    color: #2f6ee2;
    background-color: #ffffff;
 }

 .button--outline {
    background-color: transparent;
    border: 1px solid white;
    color: white;
 }

.header {
    background-color: #2E4CFF;
    padding-top: 120px;
    padding-bottom: 175px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1223px;
    margin: 0 auto;
    gap: 10px;
}

.header__logo {
    width: 56px;
    height: 56px;
}

@media screen and (max-width:1200px) {
    .header {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .header__top {
        flex-direction: column;
        gap: 30px;
    }
}


.header__nav {
    display: flex;
    gap: 50px;
}

@media screen and (max-width:450px) {
    .header__nav {
       flex-direction: column;
       text-align: center;
       gap: 15px;
    }
}

.header__nav-item {
    text-decoration:none;
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.header__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 55px;
    max-width: 1223px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    display: flex;
    justify-content: flex-end;
}

.header__hero-image {
    width: 100%;
    max-width: 515px;
}

.header__heading {
    padding-bottom: 50px;
    color: white;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
}

.header__paragraph {
    padding-bottom: 65px;
    color:white;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.header__buttons {
    display: flex;
    gap: 40px;
}

@media screen and (max-width:1200px) {
    .header__main {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .header__image { 
        display: none
    }

    .header__buttons {
        justify-content: center
    }
}

.section {
    padding-bottom: 140px;
}

.section__container {
    max-width: 1223px;
    margin: 0 auto;
}

.section__header {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: black;
    padding-bottom: 135px;
    text-align: center
}

@media screen and (max-width:1200px) {
    .section__container {
        padding: 0 10px;
    }

    .section__header {
        padding-bottom: 50px;
    }
}

.classes {
    padding: 140px 0;
}

.classes__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1223px;
    margin: 0 auto;
}

.classes__image-photo {
    width: 100%;
    max-width: 600px;
}

.classes__content {
    padding-left: 125px;
    padding-top: 110px;
}

.classes__header {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: black;
    padding-bottom: 135px;
}

@media screen and (max-width:1200px) {
    .classes {
        padding: 45px 0 150px 0;
    }

    .classes__header {
        text-align: center;
        padding-bottom: 40px;
    }

    .classes__container {
        grid-template-columns: 1fr
    }

    .classes__image-photo {
        display: none;
    }

    .classes__content {
        padding-left: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.classes__class-box-container {
    display: grid;
    column-gap: 40px;
    row-gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.classes__class-box {
    background-color: #2E4CFF;
    border-radius: 30px;
    width: 220px;
    height: 220px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    border: none;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

.classes__class-box--inverted {
    background-color: white;
    color: #2E4CFF;
}

.classes__class-box--low {
    position: relative;
    top: 50%;
}

.classes__class-box--shifted {
    position: relative;
    left: 20px;
}

.gallery__image-wrapper {
    display: grid;
    grid-template-columns: 475px 350px 350px;
    gap: 24px;
}

.gallery__image-container {
    position: relative;
    cursor: pointer;
}

.gallery__image-container:first-child {
    grid-row: span 2;
}

@media screen and (max-width:1200px) {
    .gallery__image-wrapper {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    } 
}

@media screen and (max-width:450px) {
    .gallery__image-wrapper {
        padding: 0 10px;
        gap: 10px;
    }
}

.gallery__image-container:hover .gallery__image-overlay {
    opacity: 1;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__image-overlay {
    background-color: rgba(196, 196, 196, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__image-overlay-image-wrapper {
    background-color: rgba(46, 76, 255, 1);
    padding: 15px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.gallery__image-overlay-image {
    width: 20px;
    height: 20px;
}

.team__container-social {
   display: grid;
   grid-template-columns: 285px 285px 285px 285px;
   gap: 24px;
}

@media screen and (max-width:1200px) {
    .team__container-social {
        grid-template-columns: 285px 285px;
        justify-content: center;
     }
}

@media screen and (max-width:700px) {
    .team__container-social {
        grid-template-columns: 285px;
        justify-content: center;
     }
}

.team__container-social-person {
    background-color: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-align: center;
    padding: 35px 15px;
}

.team__container-social-avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}

.team__social-name {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.team__social-position {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C4C4C4;
}

.team__social-icon-wrapper {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.team__social-icon-anchor {
    text-decoration: none;
}

.team__social-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.pricing__list {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap:20px;
    justify-content: center;
}

.pricing__pricing-plan {
    background-color: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05); 
    border-radius: 10px;
    padding: 70px 15px;
    text-align: center;
    position: relative;
}

.pricing__pricing-plan--popular {
    border-radius: 0 0 10px 10px;
}

.pricing__time-range {
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-bottom:30px;
}

.pricing__price {
    display: block;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #000000;
    margin-bottom: 30px;
}

.pricing__discount {
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #E5E5E5;
    margin-bottom: 40px;
}

.pricing__popular {
    background-color: #2f6ee2;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width:1200px) {
    .pricing__list {
        grid-template-columns: 350px;
    }

    .pricing__pricing-plan--popular {
        margin-top: 70px;
    }
}


.image__wrapper {
    width: 500px;
    height: 200px;
    background-color: gold;
}

.image {
    width: 100%;
    height: 100%;
}

.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

@media screen and (max-width:950px) {
    .news {
        grid-template-columns: 100%;
    }
}


.news__card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.news__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__card-content {
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 2;
}

.news__card-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.news__card-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.news__overlay {
    background-color: #000000;
    opacity:0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 35px 45px;
}

@media screen and (max-width:950px) {
    .question {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.question__heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 25px;
 }

 .question__paragraph {
    font-size: 20px;
    line-height: 25px;
    color: rgba(196, 196, 196, 0.83);
 }

 .footer {
    background-color: #2E4CFF;
    padding-top: 130px;
    padding-bottom: 70px;
 }

 .footer__wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
 }

 .footer__logo {
    width: 120px;
 }

 .footer__heading {
    margin-bottom: 65px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
 }

 .footer__nav {
    display: flex;
    gap: 50px;
    margin-bottom: 70px;
 }

 .footer__nav-item {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
 }

 .footer__author {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
 }

 .footer__social {
    display: flex;
    gap: 35px;
    justify-content: center;
 }

 .footer__social-anchor {
    text-decoration: none;
 }
 @media screen and (max-width:950px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__heading {
        margin-bottom: 20px;
    }

    .footer__nav {
        margin-bottom: 20px;
        justify-content: center;
}
}